<div class="footer-divider"></div>
<div class="footer">
    <div class="my-name">
        <a href="#start">jan-woll</a> 
    </div>

    <div class="icons">
        <a href="https://github.com/Trawollta" target="_blank">
            <img class="icon" src="assets/icons/grit.svg" alt="Git">
        </a>
        <a href="mailto:contact@jan-woll.de">
            <img class="icon" src="assets/icons/mail.svg" alt="Email">
        </a>
        <a href="https://www.linkedin.com/in/jan-woll-798700264/" target="_blank">
            <img class="icon" src="assets/icons/linked in.svg" alt="LinkedIn">
        </a>
    </div>

    <div class="imprint">
        <a routerLink="/impressum" routerLinkActive="active-link">Impressum</a>
    </div>
</div>
