<div class="hero">
  <div class="text-section">
    <div class="text-box">
      <div class="greet typing-animation hidden-text" #typingGreet>
        <span class="text greet-text"></span><span class="cursor" #cursorGreet>|</span>
      </div>
      <div class="name typing-animation hidden-text" #typingName>
        <span class="text name-text"></span><span class="cursor" #cursorName>|</span>
      </div>
      <div class="job typing-animation hidden-text" #typingJob>
        <span class="text job-text"></span><span class="cursor" #cursorJob>|</span>
      </div>
      <div class="welcome typing-animation hidden-text" #typingWelcome>
        <span class="text welcome-text"></span><span class="cursor" #cursorWelcome>|</span>
      </div>
    </div>
  </div>
  <div class="frame">
    <span class="vis"><img class="icon" src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <img class="me" src="assets/img/file.png" alt="Jan Woll">
  </div>
</div>
<div class="contact">
  <a href="#contact" class="ctc-button">{{ 'send-message' | translate }}</a>
</div>
