<div class="hero">
  <div class="text-section">
    <div class="text-box">
      <div class="greet typing-animation" [ngClass]="{'hidden-text': !showGreet}">
        <span class="text greet-text">{{'Hi all!' | translate}}</span><span class="cursor" *ngIf="showCursorGreet"></span>
      </div>
      <div class="name typing-animation" [ngClass]="{'hidden-text': !showName}">
        <span class="text name-text">{{'I am' | translate }} Jan Woll</span><span class="cursor" *ngIf="showCursorName"></span>
      </div>
      <div class="job typing-animation" [ngClass]="{'hidden-text': !showJob}">
        <span class="text job-text"> >{{'frontend developer' | translate }}</span><span class="cursor" *ngIf="showCursorJob"></span>
      </div>
      <div class="welcome typing-animation" [ngClass]="{'hidden-text': !showWelcome}">
        <span class="text welcome-text">{{'welcome to my website' | translate }}</span><span class="cursor" *ngIf="showCursorWelcome"></span>
      </div>
    </div>
  </div>
  <div class="frame">
    <span class="vis"><img class="icon" src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <span class="vis"><img src="assets/icons/svg-x.svg" alt="x" /></span>
    <img class="me" src="assets/img/file.png" alt="Jan Woll">
  </div>
</div>
<div class="contact">
  <a href="#contact" class="ctc-button">{{ 'send-message' | translate }}</a>
</div>
