@import '../../scss-styles/variables.scss';
@import './../../styles.scss';

.privacy-container {
  background-color: #1E2D3D;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.privacy {
  line-height: 1.6;
  margin: 0;
  padding: 40px;
  background-color: #1E2D3D;
}

h1 {
  font-size: 24px;
  color: white;
}

h2 {
  font-size: 21px;
  color: white;
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
  color: $bluegray;
}

address {
  font-style: normal;
  color: $bluegray;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 40px;
}

.arrowback-container {
  display: flex;
  justify-content: flex-end;
  background-color: #1E2D3D;
  top: 60px;
  right: 20px; 
  z-index: 1000; 
  margin-top: 10px;

  img {
    width: 50px;
    height: auto;
    cursor: pointer;
  }

  }

@media screen and (min-width: 500px) {
  .arrowback {
    width: 50px;
    cursor: pointer;
    margin-top: 70px;
    margin-right: 32px;
  }
}
