<div class="privacy-container">
  
    <div class="arrowback-container">
      <img class="arrow" src="./assets/icons/icons8-go-back-50.png" (click)="goBack()">
  </div>
  <div class="privacy">
    <h1>{{ 'Datenschutzrichtlinie' | translate }}</h1>
    <h2>{{ '1. Erfassung von Informationen' | translate }}</h2>
    <p>{{ 'Wir sammeln personenbezogene Daten von Besuchern unserer Website, wenn sie über das Kontaktformular mit uns in Kontakt treten. Die Angabe Ihres Namens, Ihrer E-Mail-Adresse und des Inhalts Ihrer Nachricht ist erforderlich, um Ihre Anfrage zu bearbeiten.' | translate }}</p>
    <h2>{{ '2. Nutzung der Informationen' | translate }}</h2>
    <p>{{ 'Die von Ihnen bereitgestellten personenbezogenen Daten werden ausschließlich zur Beantwortung Ihrer Anfragen verwendet. Diese Informationen werden nicht mit Dritten geteilt oder für andere Zwecke verwendet.' | translate }}</p>
    <h2>{{ '3. Cookies und Tracking' | translate }}</h2>
    <p>{{ 'Unsere Website verwendet keine Cookies oder andere Tracking-Technologien, um das Verhalten der Besucher zu überwachen oder Informationen über deren Nutzung der Website zu sammeln.' | translate }}</p>
    <h2>{{ '4. Weitergabe von Informationen an Dritte' | translate }}</h2>
    <p>{{ 'Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter. Ihre Informationen bleiben vertraulich und werden nur für die direkte Kommunikation zwischen Ihnen und uns verwendet.' | translate }}</p>
    <h2>{{ '5. Sicherheit' | translate }}</h2>
    <p>{{ 'Wir ergreifen geeignete Maßnahmen, um die Sicherheit Ihrer persönlichen Informationen zu gewährleisten und sie vor unbefugtem Zugriff, Verlust, Missbrauch oder Veränderungen zu schützen. Bitte beachten Sie, dass keine Datenübertragung über das Internet vollständig sicher garantiert werden kann und wir die Sicherheit von Daten, die an unsere Website gesendet werden, nicht gewährleisten können.' | translate }}</p>
    <h2>{{ '6. Nutzerrechte' | translate }}</h2>
    <p>{{ 'Da keine Registrierung auf unserer Website erforderlich ist, sammeln wir nur Informationen, die über das Kontaktformular bereitgestellt werden. Sie haben das Recht, Informationen über Ihre gespeicherten personenbezogenen Daten sowie deren Korrektur oder Löschung zu beantragen, soweit dies rechtlich zulässig ist.' | translate }}</p>
    <h2>{{ '7. Kontaktinformationen' | translate }}</h2>
    <p>{{ 'Wenn Sie Fragen zur Nutzung Ihrer Daten haben oder Ihre Rechte bezüglich Ihrer personenbezogenen Daten ausüben möchten, kontaktieren Sie uns bitte unter: Dominik Hucka, Peteräcker 6, 72581 Dettingen, Deutschland.' | translate }}</p>
    <address>
      Jan Woll<br>
      Flughafenstr. 35<br>
      12053 Berlin<br>
      Germany
    </address>
    <h2>{{ 'Änderungen der Datenschutzrichtlinie' | translate }}</h2>
    <p>{{ 'Wir behalten uns das Recht vor, diese Datenschutzrichtlinie zu ändern. Wir werden Sie angemessen über alle wesentlichen Änderungen informieren. Die fortgesetzte Nutzung unserer Website nach solchen Änderungen gilt als Ihre Zustimmung zu unseren aktualisierten Praktiken.' | translate }}</p>
  </div>
</div>
