<div class="impressum">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Jan Woll <br> 
    Flughafenstr. 35<br> 
    12053 Berlin <br> 
    </p>
    <p><strong>Vertreten durch: </strong><br>
    Jan Woll<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
    Telefon: 0171-9340916<br>
    E-Mail: <a href="mailto:contact&#64;jan-woll.de">contact&#64;jan-woll.de</a></p>
    <div class="arrowback" (click)="goBack()">
        <img class="arrow" src="./assets/icons/icons8-go-back-50.png" alt="Go Back">
    </div>
</div>